.footer {
    grid-area: footer;
    background-color:#ff9800;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.fab {
    margin-block: 10px;
    margin-inline: 20px;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    color: #FFF;
  } 

.footer p {
    text-align: center;
    color: #FFF;
    font-size: 1rem;
}