
.header{
    grid-area: header;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

.header a {
    text-decoration: none;
}

.logo {
    font-family: 'B612', sans-serif;
    color: green;
    font-size: 2rem;
    margin-block: 0.5rem;
}

.header nav ul {
	text-align: center;
}

.header nav ul li {
    list-style: none;
    display: inline;
}

.header nav ul li a {
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    color: green;
    display: inline-block;
	padding: .5em 1.5em;
}

.header nav ul li a:hover {
    color: #ff9800;
}