.side {
    grid-area: side;
    background-color:#FFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    margin: 2rem;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: indigo;
    object-fit: cover;
}

.side p {
    max-width: 60%;
    text-align: center;
    margin: 0.5rem;
    color: #424242;
    margin-bottom: 1.5rem;
}

.side h2 {
    font-family: 'B612', sans-serif;
    color: #ff9800;

}

form {
    width: 100%;
}

input {
    width: 90%;
    margin: 5%;
    padding: 10px;
    border-radius:10px;
    border:1px solid #ff9800;
}

button {
    padding:10px;
  border:none;
  background-color:#ff9800;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:90%;
  margin-inline: 5%;
  margin-bottom: 10%;
}

@media (max-width: 599px) {
    .side{
        flex-wrap: wrap;
    } 

    .side p {
        margin: 1rem;
        max-width: 50%;
    }

    .side h2 {
        display: none;
    }
}